*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  font-family: "Poppins", sans-serif;
  color: #3aafa9;
  background-image: linear-gradient(rgba(254, 255, 255, 0.7), rgba(254, 255, 255, 0.7)), url(../img/main-bg-800px.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; }
  @media (max-width: 37.5em) {
    body {
      background-image: none; } }
  @media (max-width: 25em) {
    body {
      background-image: none; } }

.heading-hero {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 6rem;
  width: 100%;
  margin: 0;
  background-image: url(../img/swirl-bg.webp);
  background-size: cover;
  clip-path: polygon(0 0, 100% 0%, 100% 85%, 0 100%); }
  @media (max-width: 37.5em) {
    .heading-hero {
      clip-path: polygon(0 0, 100% 0%, 100% 95%, 0 100%);
      padding-bottom: 3rem; } }
  .heading-hero .logo-animation {
    align-self: flex-start;
    position: relative;
    margin: 2rem 2rem; }
  .heading-hero__logo {
    position: relative;
    width: 20rem; }
  .heading-hero__heading {
    display: flex;
    flex-direction: column;
    margin: 0 auto; }
    .heading-hero__heading .heading1 {
      color: #3aafa9;
      font-family: "Poppins", sans-serif;
      font-size: 5rem;
      font-weight: 900;
      margin: -1rem 4rem;
      text-transform: uppercase;
      letter-spacing: 1rem;
      text-shadow: 0 0 12rem #def2f1; }
      @media (max-width: 37.5em) {
        .heading-hero__heading .heading1 {
          font-size: 3.5rem; } }
      @media (max-width: 25em) {
        .heading-hero__heading .heading1 {
          font-size: 2.5rem; } }
    .heading-hero__heading .signature {
      font-family: "Swanky and Moo Moo", cursive;
      color: red;
      font-size: 4rem;
      margin: 0 2rem;
      align-self: flex-end; }
      @media (max-width: 25em) {
        .heading-hero__heading .signature {
          font-size: 2.5rem; } }

.presence {
  height: max-content;
  padding: 3rem 0;
  display: flex;
  justify-content: center;
  align-items: center; }

.presence p {
  font-size: 3rem;
  padding: 0.5rem 2rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  text-align: center;
  overflow: hidden; }
  @media (max-width: 37.5em) {
    .presence p {
      font-size: 2rem; } }

.presence p span.typed-text {
  font-style: italic;
  font-family: "Architects Daughter", cursive;
  color: white; }

.presence p span.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite; }

.presence p span.cursor.typing {
  animation: none; }

@keyframes blink {
  0% {
    background-color: #ccc; }
  49% {
    background-color: #ccc; }
  50% {
    background-color: transparent; }
  99% {
    background-color: transparent; }
  100% {
    background-color: #ccc; } }

.steps-section {
  margin: 3rem auto 1.5rem;
  text-align: center;
  background-color: transparent;
  max-width: 130rem; }
  .steps-section .steps-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(33rem, 1fr));
    justify-content: space-around;
    justify-items: center;
    grid-gap: 2rem;
    padding: 1rem 2rem 3rem; }
  .steps-section .steps-heading {
    padding: 2rem 2rem;
    font-size: 3rem;
    color: #2d7a78;
    text-transform: uppercase; }
    @media (max-width: 37.5em) {
      .steps-section .steps-heading {
        font-size: 3rem; } }

.step {
  display: flex;
  flex-direction: column;
  height: 37.5rem;
  width: 30rem;
  margin: 2rem 0;
  background-color: #feffff;
  border-radius: 2rem;
  overflow: hidden;
  align-items: center;
  box-shadow: 0 0 10px #2d7a78;
  transition: all 0.3s; }
  @media (max-width: 37.5em) {
    .step:hover {
      height: max-content; } }
  .step:hover {
    transform: scale(1); }
  .step:hover .step-img {
    width: 100%; }
  .step:hover .step-p {
    transform: scale(1); }
  .step-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    font-size: 2.5rem; }
    .step-heading__number {
      width: 3.5rem;
      height: 3.5rem;
      fill: #3aafa9; }
    .step-heading__text {
      margin-left: 1rem; }
  .step-img {
    width: 45rem;
    margin-bottom: 1rem;
    transition: all 0.3s; }
  .step-p {
    transform: scale(0);
    font-size: 1.5rem;
    padding: 1rem 2rem;
    transition: all 0.3s 0.1s; }
    @media (max-width: 37.5em) {
      .step-p {
        font-size: 2rem; } }

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto 0;
  background-color: rgba(222, 242, 241, 0.7);
  opacity: 0.9; }
  .projects-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 3rem;
    max-width: 120rem;
    color: #2d7a78; }
    .projects-header .heading {
      font-size: 3rem;
      text-transform: uppercase;
      margin-bottom: 2rem; }
    .projects-header .heading-p {
      text-align: center;
      font-size: 1.5rem; }
  .projects-container {
    display: flex;
    justify-content: center;
    width: 100vw;
    flex-direction: column; }
    .projects-container .project-1__container {
      background-color: #feffff; }
    .projects-container .project-2__container {
      background-color: #def2f1; }
    .projects-container .project-3__container {
      background-color: #feffff; }
    .projects-container .project-4__container {
      background-color: #def2f1; }
  .projects .project {
    display: flex;
    align-items: center;
    max-width: 120rem;
    margin: 0 auto;
    padding: 5rem; }
    @media (max-width: 56.25em) {
      .projects .project {
        flex-direction: column; } }
    .projects .project-img__container {
      position: relative;
      width: 60%;
      min-height: 30rem;
      text-align: center;
      margin: 0 8rem; }
      .projects .project-img__container .project__img {
        position: absolute;
        width: 30rem;
        border-radius: 10px;
        box-shadow: 0 1.5rem 3rem rgba(23, 37, 42, 0.4);
        z-index: 1;
        transition: transform 0.3s; }
        .projects .project-img__container .project__img:hover {
          filter: blur(0);
          transform: scale(1.05) translateY(-0.5rem);
          z-index: 10;
          cursor: pointer; }
      .projects .project-img__container:hover .project__img:not(:hover) {
        transform: scale(0.95);
        filter: blur(4px) brightness(60%); }
      .projects .project-img__container .project-1__img-1 {
        top: 20%;
        left: 0; }
      .projects .project-img__container .project-1__img-2 {
        top: -5%;
        left: 20%; }
      .projects .project-img__container .project-1__img-3 {
        top: 40%;
        left: 35%; }
      .projects .project-img__container .project-1__img-4 {
        top: 15%;
        left: 55%; }
      .projects .project-img__container .project-2__img-1 {
        top: 20%;
        left: 0; }
      .projects .project-img__container .project-2__img-2 {
        top: -5%;
        left: 20%; }
      .projects .project-img__container .project-2__img-3 {
        top: 40%;
        left: 35%; }
      .projects .project-img__container .project-2__img-4 {
        top: 15%;
        left: 55%; }
      .projects .project-img__container .project-3__img-1 {
        top: 20%;
        left: 0; }
      .projects .project-img__container .project-3__img-2 {
        top: -5%;
        left: 15%; }
      .projects .project-img__container .project-3__img-3 {
        top: 40%;
        left: 25%; }
      .projects .project-img__container .project-3__img-4 {
        top: 15%;
        left: 40%; }
      .projects .project-img__container .project-3__img-5 {
        top: 30%;
        left: 55%; }
      @media (max-width: 37.5em) {
        .projects .project-img__container {
          margin-left: -8rem; } }
      @media (max-width: 25em) {
        .projects .project-img__container {
          margin-left: -12rem; } }
    .projects .project-text {
      color: #2d7a78;
      font-size: 1.5rem;
      max-width: 40%;
      line-height: 2rem; }
      @media (max-width: 56.25em) {
        .projects .project-text {
          max-width: 90%;
          margin-bottom: 4rem; } }
      @media (max-width: 37.5em) {
        .projects .project-text {
          max-width: 95%; } }
      .projects .project-text .heading-container {
        display: flex;
        align-items: center;
        margin-bottom: 1rem; }
        .projects .project-text .heading-container .icon {
          margin: 0;
          width: 2.5rem;
          height: 2.5rem;
          fill: #3aafa9;
          display: inline-block; }
      .projects .project-text h3 {
        font-size: 2rem;
        display: inline-block;
        text-transform: uppercase;
        margin: 0 0.5rem; }
        .projects .project-text h3 .project-link {
          display: inline-block;
          color: inherit;
          text-decoration: none;
          transition: all 0.5s; }
          .projects .project-text h3 .project-link:hover {
            color: #2d7a78;
            transform: scale(1.2) translateX(1rem); }
      .projects .project-text .project-link-btn {
        color: #feffff;
        background-color: #2d7a78;
        font-family: inherit;
        font-size: 1.3rem;
        letter-spacing: 0.2rem;
        margin: 1.5rem 0 0;
        padding: 0.7rem 1.8rem;
        outline: none;
        border: none;
        text-decoration: none;
        border-radius: 100px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        cursor: pointer; }
        .projects .project-text .project-link-btn:hover {
          transform: translateY(-1px); }
        .projects .project-text .project-link-btn:active {
          transform: translateY(0); }

.image-modal-section {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(4px);
  z-index: 100; }

#imageModal {
  display: none;
  position: fixed;
  z-index: 300;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 90vw;
  max-height: 80vh;
  border-radius: 10px; }
  #imageModal .modal-content {
    border-radius: 10px;
    margin: auto;
    display: block;
    width: 100%; }

.about-us__container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 4rem auto 0;
  height: max-content;
  overflow: hidden; }
  .about-us__container .components {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    border-radius: 5px;
    color: #feffff;
    max-width: 120rem;
    background-color: rgba(45, 122, 120, 0.8); }
    @media (max-width: 56.25em) {
      .about-us__container .components {
        display: flex;
        flex-direction: column; } }
    @media (max-width: 37.5em) {
      .about-us__container .components {
        display: flex;
        flex-direction: column; } }
    .about-us__container .components .component {
      padding: 3rem;
      font-size: 2rem;
      width: 100%; }
      .about-us__container .components .component-heading {
        display: flex;
        align-items: center;
        margin-bottom: 2rem; }
        .about-us__container .components .component-heading__icon {
          height: 3rem;
          width: 3rem;
          fill: #def2f1;
          margin-right: 1.5rem; }
      .about-us__container .components .component h3 {
        text-transform: uppercase; }
      .about-us__container .components .component p {
        font-size: 1.4rem; }

.about-us .contact-us {
  text-align: center; }
  .about-us .contact-us__p {
    color: #17252a;
    font-size: 2rem;
    padding: 2rem;
    max-width: 120rem;
    margin: 0 auto; }
    .about-us .contact-us__p--here {
      color: red; }
      .about-us .contact-us__p--here:link, .about-us .contact-us__p--here:visited {
        text-decoration: none;
        transition: all 0.5s; }
      .about-us .contact-us__p--here:hover {
        color: #2d7a78; }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s; }

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 120rem;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 300;
  transition: all 0.5s;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px); }
  .popup__container {
    width: 65%;
    background-color: white;
    box-shadow: 0 0 1rem rgba(254, 255, 255, 0.8);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    display: flex;
    overflow: hidden; }
    .popup__container-left {
      width: 60%;
      padding: 2rem; }
      @media (max-width: 37.5em) {
        .popup__container-left {
          width: 100%; } }
      .popup__container-left .popup__heading {
        font-size: 2rem;
        margin-bottom: 1rem; }
      .popup__container-left .form .form__group {
        display: flex;
        flex-direction: column;
        font-size: 1.2rem; }
        .popup__container-left .form .form__group .form__label {
          padding: 0.5rem 0; }
        .popup__container-left .form .form__group .form-input {
          outline: none;
          font-family: inherit;
          font-size: 1rem;
          color: #2d7a78;
          border: 1px solid #3aafa9;
          border-radius: 3px;
          outline: none;
          width: 70%;
          padding: 0.5rem 1rem;
          margin-bottom: 0.7rem; }
          .popup__container-left .form .form__group .form-input:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
            border-bottom: 3px solid #3aafa9; }
            .popup__container-left .form .form__group .form-input:focus:invalid {
              border-bottom: 3px solid red; }
        .popup__container-left .form .form__group .form-message {
          width: 90%;
          height: 13.5rem;
          resize: none; }
    .popup__container-right {
      width: 40%; }
      .popup__container-right .popup__close {
        position: absolute;
        top: 1rem;
        right: 2rem;
        font-family: inherit;
        font-size: 3rem;
        color: #17252a;
        text-decoration: none;
        line-height: 30px;
        border: none;
        background-color: #def2f1;
        width: 30px;
        height: 30px;
        border-radius: 35px;
        cursor: pointer; }
      .popup__container-right .popup__img {
        display: block;
        object-fit: cover;
        height: 100%;
        width: 100%; }
      @media (max-width: 37.5em) {
        .popup__container-right {
          display: none; } }
    .popup__container .btn {
      font-family: inherit;
      font-size: 1.5rem;
      letter-spacing: 0.2rem;
      border: none;
      border-radius: 25px;
      margin-top: 1rem;
      padding: 0.6rem 2rem;
      outline: none;
      color: #def2f1;
      background-color: #3aafa9;
      transition: all 0.2s; }
      .popup__container .btn:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
        .popup__container .btn:hover::after {
          transform: scaleX(1.4) scaleY(1.6);
          opacity: 0; }
      .popup__container .btn:active, .popup__container .btn:focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.hidden {
  visibility: hidden;
  opacity: 0; }

.footer {
  background-color: #17252a;
  font-size: 1.3rem;
  text-align: center; }
  .footer__logo-box {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center; }
  .footer__logo {
    width: 25rem;
    height: 100%; }
  .footer__copyright {
    color: #def2f1;
    border-top: 1px solid #2d7a78;
    padding: 1rem 0; }
