// Color Variables
$color-primary-lightest: #feffff;
$color-primary-light: #def2f1;
$color-primary: #3aafa9;
$color-primary-dark: #2d7a78;
$color-primary-darkest: #17252a;

$color-black: #101d2c;

// FONT VARIABLES
$font-heading: 'Poppins', sans-serif;
$font-display: 'Poppins', sans-serif;
$font-word: 'Architects Daughter', cursive;
$font-sig: 'Swanky and Moo Moo', cursive;

// Carousel Variables
$size-height: 70vh;
$size-width: 100%;

// Media Query Mixins

@mixin respond($breakpoint) {
  @if $breakpoint == small-phone {
    @media (max-width: 25em) {
      @content;
    }
  }

  @if $breakpoint == phone {
    @media (max-width: 37.5em) {
      @content;
    }
  }

  @if $breakpoint == tab-port {
    @media (max-width: 56.25em) {
      @content;
    }
  }

  @if $breakpoint == tab-land {
    @media (max-width: 75em) {
      @content;
    }
  }

  @if $breakpoint == big-desktop {
    @media (min-width: 112.5em) {
      @content;
    }
  }
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @include respond(tab-land) {
    font-size: 56.25%;
  }

  @include respond(tab-port) {
    font-size: 50%;
  }

  @include respond(big-desktop) {
    font-size: 75%;
  }
}

body {
  font-family: $font-display;
  color: $color-primary;
  background-image: linear-gradient(
      rgba($color-primary-lightest, 0.7),
      rgba($color-primary-lightest, 0.7)
    ),
    url(../img/main-bg-800px.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  @include respond(phone) {
    background-image: none;
  }

  @include respond(small-phone) {
    background-image: none;
  }
}
